<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Applikaasie</title>
        <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <h1 class="center">Bestelling plaatsen</h1>
        <br/><h2 class="center">Klant</h2>
            
            <table id="productList" class="table table-striped">
                <thead>
                    <tr>
                        <th>Achternaam</th>
                        <th>Voornaam</th>
                        <th>Accountnaam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${order.customer.lastName}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastNamePrefix}"></td>
                        <td th:text="${order.customer.account != null} ? ${order.customer.account.username} : 'Geen account'"></td>
                    </tr>
                </tbody>            
            </table>
        <h2 class="center">Bestelde producten</h2>
        
        <table id="orderItems" class="table table-striped">
            <thead>
                <tr>
                    <th>Productnaam</th>
                    <th>Aantal</th>
                    <th>Subtotaal product</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderItem:${order.orderItemList}">
                    <td th:text="${orderItem.product.name}"></td>
                    <td th:text="${orderItem.amount}"></td>
                    <td th:text="${orderItem.subTotal}"></td>
                </tr>
            </tbody>            
        </table>

        <h2 class="center" th:text="${'Subtotaal bestelling: ' + order.totalPrice}"></h2>
        <br/>
        <h2 class="center">Alle mogelijke producten zijn reeds toegevoegd.</h2>
        <h2 class="center">Bestelregel toevoegen is niet meer mogelijk</h2>
        
        <div id="content">  
            <br/>        

            <a class="button center" th:href="@{/orders/saveorder}">Bestelling opslaan</a>
            <a class="button center" th:href="@{/}">Terug naar home</a>
        </div>
    </body>
</html>

