<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adding new product</title>
        <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div id="content">
            <h1 class="center">Verwijderen bestelling</h1>
            
            <h2 class="center">Bestelregel</h2>
            
            <table id="orderItems" class="table table-striped">
                <thead>
                    <tr>
                        <th>Productnaam</th>
                        <th>Aantal</th>
                        <th>Subtotaal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${orderItem.product.name}"></td>
                        <td th:text="${orderItem.amount}"></td>
                        <td th:text="${orderItem.subTotal}"></td>
                    </tr>
                </tbody>            
            </table>    
            <br/>
            
            <h3 class="center">Indien u kiest voor "verwijderen", dan wordt dit product uit deze bestelling verwijderd.<br/>
            De voorraad van dit product zal automatisch bijgewerkt worden.</h3>
            
        </div>
        <div id="content">  
            <br/>
            <a class="button center" th:href="@{'/orders/delete_orderitem_confirm/' + ${orderItem.id}}">Verwijderen</a>
            <a class="button center" th:href="@{'/orders/edit/' + ${order.id}}">Terug naar aanpassen bestelling</a>
            <a class="button center" th:href="@{/orders}">Terug naar menu bestellingen</a>
            <a class="button center" th:href="@{/home}">Home</a>
        </div>

    </body>
</html>
