<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Applikaasie</title>
        <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <h1 class="center">Menu bestellingen</h1>

        <br/>
        <div id="content">
            <a class="button center" th:href="@{/orders/startaddneworder}">Nieuwe bestelling plaatsen</a>
            <a class="button center" th:href="@{/orders/all_orders}">Toon bestellingen:<br/>alles</a>
            <a class="button center" th:href="@{/orders/orderstatus_new}">Toon bestellingen:<br/>nieuw</a>
            <a class="button center" th:href="@{/orders/orderstatus_inprogress}">Toon bestellingen:<br/>in behandeling</a>
            <a class="button center" th:href="@{/orders/orderstatus_finished}">Toon bestellingen:<br/>afgehandeld</a>            
            <a class="button center" th:href="@{/}">Terug naar home</a>
        </div>
    </body>
</html>

