<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Orders</title> 
    <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
    <body>
        <div class="listTitle">
        <h1 class="center">Bestellingdetails</h1>
        
        <h2 class="center">Bestelling</h2>
        
        <table id="orders" class="table table-striped">
            <thead>
                <tr>
                    <th>Naam Klant</th>
                    <th>Totaalprijs</th>
                    <th>Datum</th>
                    <th>Bestelstatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${order.customer != null} ? ${order.customer.firstName + ' ' + order.customer.lastName} : 'Klant is verwijderd'"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${#temporals.format(order.dateTime, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${order.orderStatus}"></td>
                </tr>
            </tbody>            
        </table>
        <br/>
        
        
        <h2 class="center">Bestelde producten</h2>
        
        <table id="orderItems" class="table table-striped">
            <thead>
                <tr>
                    <th>Productnaam</th>
                    <th>Aantal</th>
                    <th>Subtotaal</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderItem:${order.orderItemList}">
                    <td th:text="${orderItem.product.name}"></td>
                    <td th:text="${orderItem.amount}"></td>
                    <td th:text="${orderItem.subTotal}"></td>
                </tr>
            </tbody>            
        </table>
        <br/>
                <h2 class="center">Klantgegevens</h2>
        
        <table class="customers"> 
            <thead>
                <tr><th> </th><th></th></tr>
            </thead>
            <tbody>
                <tr><td class="firstcol">ID:</td><td th:text="${order.customer != null} ? ${order.customer.id} : 'Klant is verwijderd'"></td></tr>
                <tr><td>Voornaam:</td><td th:text="${order.customer != null} ? ${order.customer.firstName} : ''"></td></tr>
                <tr><td>Tussenvoegsel:</td><td th:text="${order.customer != null} ? ${order.customer.lastNamePrefix} : ''"></td></tr>
                <tr><td>Achternaam:</td><td th:text="${order.customer != null} ? ${order.customer.lastName} : ''"></td></tr>
            </tbody>            
        </table>
      </div>
        
        <br/>
        <div id="content">  
            <br/>        
            <a class="button center" th:href="@{/orders}">Terug naar menu bestellingen</a>
            <a class="button center" th:href="@{/home}">Home</a>
        </div>
    </body>
</html>
