<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Orders</title> 
    <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
    <body>
        <div class="listTitle">
        <h1 class="center"> Bestellingenoverzicht: alle bestellingen</h1>
        
        <table id="orders" class="table table-striped">
            <thead>
                <tr>
                    <th>Naam Klant</th>
                    <th>Totaalprijs</th>
                    <th>Datum</th>
                    <th>Bestelstatus</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order:${orderList}">
                    <td th:text="${order.customer != null} ? ${order.customer.firstName + ' ' + order.customer.lastNamePrefix + ' ' + order.customer.lastName} : 'Klant is verwijderd'"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td th:text="${#temporals.format(order.dateTime, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td class="small">
                        <a th:href="@{'/orders/details/' + ${order.id}}"><img src="../images/search-icon.png" alt="details"/></a>
                    </td>
                    <td class="small">              
                        <a th:href="@{'/orders/edit/' + ${order.id}}"><img src="../images/edit-icon.png" alt="edit"/></a>
                    </td>
                    <td class="small">
                        <a th:href="@{'/orders/delete/' + ${order.id}}"><img src="../images/delete-icon.png" alt="delete"/></a>
                    </td>
                </tr>
            </tbody>            
        </table>
      </div>
        <br/>
        <div id="content">  
            <br/>        
            <a class="button center" th:href="@{/orders}">Terug naar menu bestellingen</a>
            <a class="button center" th:href="@{/home}">Home</a>
        </div>
    </body>
</html>
