<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Addresses</title> 
        <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body style = "background: url(../images/vlag.jpg); background-size: 100%;">
        <div class="listTitle">
            <h1 class="center"> Addressoverzicht</h1>

            <table id="addresses" class="table table-striped">
                <thead>
                    <tr>
                        <th style=" font-size: 25px">StreetName</th>
                        <th style=" font-size: 25px">Number</th>
                        <th style=" font-size: 25px">Addition</th>
                        <th style=" font-size: 25px">PostalCode</th>
                        <th style=" font-size: 25px">City</th>
                        <th style=" font-size: 25px">AddressType</th>
                        <th style=" font-size: 25px">KlantName</th>
                        <th style=" font-size: 22px">KLantId</th>
                        <th style=" font-size: 25px"></th>
                        <th style=" font-size: 25px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="address:${addressList}">
                        <td style=" font-size: 20px" th:text="${address.streetName}"></td>
                        <td style=" font-size: 20px" th:text="${address.number}"></td>
                        <td style=" font-size: 20px" th:text="${address.addition}"></td>
                        <td style=" font-size: 20px" th:text="${address.postalCode}"></td>
                        <td style=" font-size: 20px" th:text="${address.city}"></td>
                        <td style=" font-size: 20px" th:text="${address.addressType}"></td>
                        <td style=" font-size: 20px" th:text="${address.customer.firstName + ' ' + address.customer.lastName}"></td>
                        <td style=" font-size: 20px" th:text="${address.customer.id}"></td>
                        <td class="small"> 
                            <a th:href="@{'/addresses/update/' + ${address.id}}"><input type="submit" value="update"/></a>
                        </td>
                        <td class="small"> 
                            <a th:href="@{'/addresses/delete/' + ${address.id}}"><input type="submit" value="delete"/></a>
                        </td>
                    </tr>
                </tbody>            
            </table>
            <br/>
            <a class="button center" th:href="@{/addresses/add}">Nieuwe address toevoegen</a>
            <a class="button center" th:href="@{/home}">Naar home pagina terug!</a>
        </div>
    </body>
</html>

