<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Accounts</title> 
    <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
    <body>
        <div class="listTitle">
        <h1 class="center">Account overzicht</h1>
        
        <table id="accounts" class="table table-striped">
            <thead>
                <tr>
                    <th>Accountnaam</th>
                    <th>Wachtwoord</th>
                    <th>Account type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account:${accountList}">
                    <td th:text="${account.username}"></td>
                    <td>********</td>
                    <td th:text="${account.accountType}"></td>
                    <td class="small">              
                        <a th:href="@{'/accounts/edit/' + ${account.id}}"><img src="../images/edit-icon.png" alt="edit"/></a>
                    </td>
                    <td class="small">
                        <a th:href="@{'/accounts/delete/' + ${account.id}}"><img src="../images/delete-icon.png" alt="delete"/></a>
                    </td>
                </tr>
            </tbody>            
        </table>
        <br/>
        <a class="button center" th:href="@{/accounts/add}">Account toevoegen</a>
        <a class="button center" th:href="@{/home}">Home</a>
      </div>
    </body>
</html>