<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Products</title> 
    <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
    <body>
        <div class="listTitle">
        <h1 class="center">Productoverzicht</h1>
        
        <table id="products" class="table table-striped">
            <thead>
                <tr>
                    <th>ProductName</th>
                    <th>ProductPrice</th>
                    <th>Nr.Stock</th>
                     <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product:${productList}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.stock}"></td>
                    <td class="small">
                        <a th:href="@{'/products/delete/' + ${product.id}}"><img src="../images/delete-icon.png" alt="delete"/></a>
                    </td>
                </tr>
            </tbody>            
        </table>
        <br/>
         <a class="button center" th:href="@{/products/add}">Nieuwe product toevoegen</a>
         <!--<a class="button center" th:href="@{/products/delete}">Het verwijderen van een product</a>-->
         <a class="button center" th:href="@{/home}">Naar home pagina terug!</a>
      </div> 
    </body>
</html>