<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Customers</title> 
    <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
    <body>
        <div class="listTitle">
        <h1 class="center"> Klantoverzicht</h1>
        
        <table id="customers" class="table table-striped">
            <thead>
                <tr>
                    <th>Achternaam</th>
                    <th>Voornaam</th>
                    <th>Accountnaam</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer:${customerList}">
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.firstName + ' ' + customer.lastNamePrefix}"></td>
                    <td th:text="${customer.account != null} ? ${customer.account.username} : 'Geen account'"></td>
                    <td class="small">
                        <a th:href="@{'/customers/details/' + ${customer.id}}"><img src="../images/search-icon.png" alt="details"/></a>
                    </td>
                    <td class="small">              
                        <a th:href="@{'/customers/edit/' + ${customer.id}}"><img src="../images/edit-icon.png" alt="edit"/></a>
                    </td>
                    <td class="small">
                        <a th:href="@{'/customers/delete/' + ${customer.id}}"><img src="../images/delete-icon.png" alt="delete"/></a>
                    </td>
                </tr>
            </tbody>            
        </table>
        <br/>
        <a class="button center" th:href="@{/customers/add}">Klant toevoegen</a>
        <a class="button center" th:href="@{/home}">Home</a>
      </div>
    </body>
</html>
